body {
  background : #9FD7FF;
  background-image : url('background_083.gif');
  background-repeat : repeat;
  font-size : 13px;
}

div.app {
  border : 1px solid #909090;
  width : 600px;
  margin : 30px auto 30px auto;
}

div.body {
  background : #FFF;
  padding: 10px 30px;
}

div.header {
  background : #999;
  color: #fcc915;
  text-align : center;
}

div.header h1 {
  font-size : 40px;
  margin-top : 0;
  margin-bottom : 0;
}

div.menu {
  background : #D9D9D9;
  display: flex;
  justify-content: center;
  padding: 5px;
}

div.menu a {
  color: #00F;
  border-width: 1px;
  border-style: solid;
  border-color: #D9D9D9 #909090 #909090 #D9D9D9;
  text-align: center;
  text-decoration: none;
  margin: 0px 5px 0px 10px;
  padding: 2px;
}

div.menu a:hover {
  background : #B7B7B7;
  border-color : #909090 #D9D9D9 #D9D9D9 #909090;
}

div.content thead td {
  text-align : center;
  font-weight : bold;
}

div.footer {
  text-align : center;
  margin-top : 30px;
}

div.footer img {
  border-style : none;
}

div.error {
  margin-top : 5px;
  background : #F00;
  color : #FFF;
  display : block;
  text-align : center;
  font-size : larger;
}

span.class-name {
  font-weight : bold;
}

span.superscript {
  font-weight : normal;
  font-size : 75%;
  vertical-align : super;
}

ul.unmarked {
  list-style-type : none;
}

div.center {
  text-align : center;
}

p.semester-comment {
  margin-left: 5pt;
  font-style: italic;
}
