@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

body {
  background : #FFF;
  font-size : 13px;
  margin: 0;

  @include desktop {
    background-image : url('background_083.gif');
    background-repeat : repeat;
    margin: 8px;
  }
}

a {
  color: #00F;
}

ul {
  padding-left: 10px;

  @include desktop {
    padding-left: 40px;
  }

  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

div.app {
  width: 100vw;

  @include desktop {
    border : 1px solid #909090;
    margin : 30px auto 30px auto;
    min-width: 600px;
    width : 50%;
  }
}

div.body {
  background : #FFF;
  padding: 10px 30px;
}

div.title {
  background : #999;
  color: #fcc915;
  text-align : center;

  h1 {
    font-size : 40px;
    margin-top : 0;
    margin-bottom : 0;
  }
}

div.header {
  background : #D9D9D9;

  div.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;

    a {
      border-width: 1px;
      border-style: solid;
      border-color: #D9D9D9 #909090 #909090 #D9D9D9;
      text-align: center;
      text-decoration: none;
      margin: 0px 5px 0px 10px;
      padding: 2px;

      &:hover, &.selectedMenuItem {
        background : #B7B7B7;
        border-color : #909090 #D9D9D9 #D9D9D9 #909090;
      }
    }
  }
}
