body {
  background : #9FD7FF;
  background-image : url('background_083.gif');
  background-repeat : repeat;
  font-size : 13px;
}

a {
  color: #00F;
}

div.app {
  border : 1px solid #909090;
  margin : 30px auto 30px auto;
  min-width: 600px;
  width : 50%;
}

div.body {
  background : #FFF;
  padding: 10px 30px;
}

div.title {
  background : #999;
  color: #fcc915;
  text-align : center;

  h1 {
    font-size : 40px;
    margin-top : 0;
    margin-bottom : 0;
  }
}

div.header {
  background : #D9D9D9;

  div.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    a {
      border-width: 1px;
      border-style: solid;
      border-color: #D9D9D9 #909090 #909090 #D9D9D9;
      text-align: center;
      text-decoration: none;
      margin: 0px 5px 0px 10px;
      padding: 2px;
    }
  }

  div.language-selector {
    padding: 5px;
    text-align: center;

    .language-options {
      .current-language {
        font-weight: bold;
      }
    }
  }
}

div.menu a:hover {
  background : #B7B7B7;
  border-color : #909090 #D9D9D9 #D9D9D9 #909090;
}

div.footer {
  text-align : center;
  margin-top : 30px;
}

div.footer img {
  border-style : none;
}

div.error {
  margin-top : 5px;
  background : #F00;
  color : #FFF;
  display : block;
  text-align : center;
  font-size : larger;
}

span.class-name {
  font-weight : bold;
}

span.superscript {
  font-weight : normal;
  font-size : 75%;
  vertical-align : super;
}

ul.unmarked {
  list-style-type : none;
}

p.comment {
  margin-left: 5pt;
  font-style: italic;
}
